.scroll-content {
  overflow: auto;
  height: 500px;
}

.customButtonsContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.menuButton {
  width: 50%;
  height: 30px;
  margin-top: 10%;
  border: 2px solid black;
  border-radius: 10px;
}
